# =====================================================
# Python
# =====================================================

__pycache__/
*.py[cod]
*.pyo
*.pyd

# =====================================================
# Virtual Environments
# =====================================================

.venv/
venv/
env/

# =====================================================
# IDE
# =====================================================

.vscode/
.idea/

# =====================================================
# Jupyter
# =====================================================

.ipynb_checkpoints/

# =====================================================
# Operating System Files
# =====================================================

.DS_Store
Thumbs.db

# =====================================================
# Python Cache
# =====================================================

*.pickle

# =====================================================
# Logs
# =====================================================

*.log

# =====================================================
# Hugging Face Cache
# =====================================================

.huggingface/
.cache/
hf_cache/

# =====================================================
# Streamlit Cache
# =====================================================

.streamlit/

# =====================================================
# Large Models / Temporary Files
# =====================================================

*.pt
*.bin
*.safetensors

# =====================================================
# Task 02 Original Dataset
# =====================================================

Task-02-Medical-QA-Chatbot/data/

# =====================================================
# Temporary Files
# =====================================================

temp/
tmp/


# Original arXiv dataset
Task-04-Research-Paper-Expert/data/arxiv-metadata-oai-snapshot.json